check out
{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block extra_head %}
    <link rel="preload" href="{% static 'fonts/Montserrat-Black.ttf' %}" as="font" type="font/ttf" crossorigin>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <ol class="activity-checkout mb-0 px-4 mt-3">
                        <li class="checkout-item">
                            <div class="avatar checkout-icon p-1">
                                <div class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bxs-receipt text-white font-size-20"></i>
                                </div>
                            </div>
                            <div class="feed-item-list">
                                <div>
                                    <h5 class="font-size-16 mb-1">Billing Info</h5>
                                    <p class="text-muted text-truncate mb-4">Sed ut perspiciatis unde omnis iste</p>
                                    <div class="mb-3">
                                        <form id="billing-form">
                                            <div>
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                      <div class="mb-3">
                                                        <label class="form-label" for="billing-name">Name</label>
                                                        {% if user.is_authenticated %}
                                                            <input type="text" class="form-control" id="billing-name" value="{{ user.username }}" readonly>
                                                        {% else %}
                                                            <input type="text" class="form-control" id="billing-name" placeholder="Enter name">
                                                        {% endif %}
                                                    </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="billing-email-address">Email
                                                                Address</label>
                                                            <input type="email" class="form-control"
                                                                id="billing-email-address" placeholder="Enter email">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="mb-3">
                                                            <label class="form-label" for="billing-phone">Phone</label>
                                                            <input type="text" class="form-control" id="billing-phone"
                                                                placeholder="Enter Phone no.">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-3">
                                                    <label class="form-label" for="billing-address">Address</label>
                                                    <textarea class="form-control" id="billing-address" rows="3"
                                                        placeholder="Enter full address"></textarea>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="mb-4 mb-lg-0">
                                                            <label class="form-label">Country</label>
                                                            <select class="form-control form-select" title="Country">
                                                                <option value="0">Select Country</option>
                                                                <option value="AF">Afghanistan</option>
                                                                <option value="AL">Albania</option>
                                                                <option value="DZ">Algeria</option>
                                                                <option value="AS">American Samoa</option>
                                                                <option value="AD">Andorra</option>
                                                                <option value="AO">Angola</option>
                                                                <option value="AI">Anguilla</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="mb-4 mb-lg-0">
                                                            <label class="form-label" for="billing-city">City</label>
                                                            <input type="text" class="form-control" id="billing-city"
                                                                placeholder="Enter City">
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4">
                                                        <div class="mb-0">
                                                            <label class="form-label" for="zip-code">Zip / Postal
                                                                code</label>
                                                            <input type="text" class="form-control" id="zip-code"
                                                                placeholder="Enter Postal code">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="checkout-item">
                            <div class="avatar checkout-icon p-1">
                                <div class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bxs-truck text-white font-size-20"></i>
                                </div>
                            </div>
                            <div class="feed-item-list">
                                <div>
                                    <h5 class="font-size-16 mb-1">Shipping Info</h5>
                                    <p class="text-muted text-truncate mb-4">Information based on your input</p>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="card-radio text-truncate p-3">
                                                    <span class="fs-14 mb-2 d-block" id="shipping-name">Name: </span>
                                                    <span class="text-muted fw-normal text-wrap mb-1 d-block" id="shipping-address">Address: </span>
                                                    <span class="text-muted fw-normal d-block" id="shipping-city-country">City, Country: </span>
                                                    <span class="text-muted fw-normal d-block" id="shipping-zipcode">Zip Code: </span>
                                                    <span class="text-muted fw-normal d-block" id="shipping-phone">Phone: </span>
                                                    <span class="text-muted fw-normal d-block" id="shipping-email">Email: </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="checkout-item">
                            <div class="avatar checkout-icon p-1">
                                <div class="avatar-title rounded-circle bg-primary">
                                    <i class="bx bxs-wallet-alt text-white font-size-20"></i>
                                </div>
                            </div>
                            <div class="feed-item-list">
                                <div>
                                    <h5 class="font-size-16 mb-1">Payment Info</h5>
                                    <p class="text-muted text-truncate mb-4">Duis arcu tortor, suscipit eget</p>
                                </div>
                                <div>
                                    <h5 class="font-size-14 mb-3">Payment method :</h5>
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6">
                                            <div data-bs-toggle="collapse">
                                                <label class="card-radio-label">
                                                    <input type="radio" name="pay-method" id="pay-methodoption1"
                                                        class="card-radio-input">
                                                    <span class="card-radio py-3 text-center text-truncate">
                                                        <i class="bx bx-credit-card d-block h2 mb-3"></i>
                                                        Credit / Debit Card
                                                    </span>
                                                </label>
                                            </div>
                                        </div>

                      

                                        <div class="col-lg-3 col-sm-6">
                                            <div>
                                                <label class="card-radio-label">
                                                    <input type="radio" name="pay-method" id="pay-methodoption3"
                                                        class="card-radio-input" checked="">

                                                    <span class="card-radio py-3 text-center text-truncate">
                                                        <i class="bx bx-money d-block h2 mb-3"></i>
                                                        <span>Cash on Delivery</span>
                                                    </span>
                                                </label>
                                            </div>
                                            
                                        </div>
                                        <div id="credit-card-fields" style="display: none;">
                                          <div class="row mt-3">
                                            <div class="col-md-6 mb-3">
                                              <label for="cc-number" class="form-label">Card Number</label>
                                              <input type="text" class="form-control" id="cc-number" required>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                              <label for="cc-expiration" class="form-label">Expiration</label>
                                              <input type="text" class="form-control" id="cc-expiration" placeholder="MM/YY" required>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                              <label for="cc-cvv" class="form-label">CVV</label>
                                              <input type="text" class="form-control" id="cc-cvv" required>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-6 mb-3">
                                              <label for="cc-name" class="form-label">Name on Card</label>
                                              <input type="text" class="form-control" id="cc-name" required>
                                            </div>
                                          </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row my-4">
                <div class="col">
                    <a href="ecommerce-products.html" class="btn btn-link text-muted">
                        <i class="mdi mdi-arrow-left me-1"></i> Continue Shopping </a>
                </div>
                <div class="col">
                    <div class="text-end mt-2 mt-sm-0">
                        <button id="proceed-button" class="btn btn-success">
                            <i class="mdi mdi-cart-outline me-1"></i> Procced
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card checkout-order-summary">
                <div class="card-body">
                    <div class="p-3 bg-light mb-3">
                        <h5 class="font-size-16 mb-0">Order Summary</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-centered mb-0 table-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0" style="width: 110px;" scope="col">Product</th>
                                    <th class="border-top-0" scope="col">Product Desc</th>
                                    <th class="border-top-0" scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart.items %}
                                <tr>
                                    <th scope="row"><img src="{{ item.imageURL }}"
                                            alt="product-img" title="product-img" class="avatar-lg rounded" style="width: 80px; height: 80px;"></th>
                                    <td>
                                        <h5 class="font-size-16 text-truncate"><a href="#" class="text-dark">{{ item.name }}</a></h5>
                                        <p class="text-muted mb-0 mt-1">$ {{ item.price }} x {{ item.quantity }}</p>
                                    </td>
                                    <td>$ {{ item.subTotal|floatformat:2|intcomma }}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Sub Total :</h5>
                                    </td>
                                    <td>
                                        $ {{ cart.totalPrice|floatformat:2|intcomma }}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Estimated Tax :</h5>
                                    </td>
                                    <td>
                                        $ {{ cart.tax|floatformat:2|intcomma }}
                                    </td>
                                </tr>

                                <tr class="bg-light">
                                    <td colspan="2">
                                        <h5 class="font-size-14 m-0">Total:</h5>
                                    </td>
                                    <td>
                                        $ {{ cart.afterTax|floatformat:2|intcomma }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="paypal-button-container"></div>

</div>

<div id="success-popup" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Success!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Your order has been placed successfully!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 <!-- Include jsPDF -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
 <!-- Include FileSaver.js -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
 <script src="https://www.paypal.com/sdk/js?client-id=¤cy=USD&disable-funding=credit"></script>
 <script src="https://cdn.jsdelivr.net/npm/@fontsource/roboto/files/roboto-v20-latin-regular.woff"></script>

 <script>
  window.jsPDF = window.jspdf.jsPDF;
  </script>
 <script>
    var total = '{{order.get_cart_total}}'
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({
        style: {
            color: 'blue',
            shape: 'rect',
        },
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: parseFloat(total).toFixed(2)
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                submitFormData()
            });
        }
    }).render('#paypal-button-container');
</script>

<script type="text/javascript">
    var shipping = '{{order.shipping}}'
    user = 'AnonymousUser'

    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('billing-form');
        const proceedButton = document.getElementById('proceed-button');
        
        proceedButton.addEventListener('click', function(event) {
          event.preventDefault();
          
          if (validateForm()) {
              const creditCardOption = document.getElementById('pay-methodoption1');
              if (creditCardOption.checked) {
                  if (validateCreditCard()) {
                      submitFormData();
                      $('#confirmation-popup').modal('show'); // Hiển thị popup xác nhận
                  }
              } else {
                  submitFormData();
                  $('#confirmation-popup').modal('show'); // Hiển thị popup xác nhận
              }
          } 
      });
        
        //hiện pop up khi nhấn procced
        document.getElementById('confirm-order').addEventListener('click', function() {
          $('#confirmation-popup').modal('hide');
          submitFormData();
          showInvoiceDetails();
          // Thêm event listeners cho nút xuất hóa đơn
          document.getElementById('exportPDF').addEventListener('click', function() {
          exportInvoice('pdf');
          });

          document.getElementById('exportText').addEventListener('click', function() {
          exportInvoice('text');
          
          });
        });

        function validateForm() {
          updateShippingInfo();
          let isValid = true;
      
          // Validate Name
          const name = document.getElementById('billing-name');
          if (name.value.trim() === '') {
            setErrorFor(name, 'Name cannot be blank');
            isValid = false;
          } else {
            setSuccessFor(name);
          }
      
          // Validate Email
          const email = document.getElementById('billing-email-address');
          if (email.value.trim() === '') {
            setErrorFor(email, 'Email cannot be blank');
            isValid = false;
          } else if (!isValidEmail(email.value.trim())) {
            setErrorFor(email, 'Email is not valid');
            isValid = false;
          } else {
            setSuccessFor(email);
          }
      
          // Validate Phone
          const phone = document.getElementById('billing-phone');
          if (phone.value.trim() === '') {
            setErrorFor(phone, 'Phone number cannot be blank');
            isValid = false;
          } else if (!isValidPhone(phone.value.trim())) {
            setErrorFor(phone, 'Phone number is not valid');
            isValid = false;
          } else {
            setSuccessFor(phone);
          }
      
          // Validate Address
          const address = document.getElementById('billing-address');
          if (address.value.trim() === '') {
            setErrorFor(address, 'Address cannot be blank');
            isValid = false;
          } else {
            setSuccessFor(address);
          }
      
          // Validate Country
          const country = document.querySelector('select[title="Country"]');
          if (country.value === '0') {
            setErrorFor(country, 'Please select a country');
            isValid = false;
          } else {
            setSuccessFor(country);
          }
      
          // Validate City
          const city = document.getElementById('billing-city');
          if (city.value.trim() === '') {
            setErrorFor(city, 'City cannot be blank');
            isValid = false;
          } else {
            setSuccessFor(city);
          }
      
          // Validate Zip Code
          const zipCode = document.getElementById('zip-code');
          if (zipCode.value.trim() === '') {
            setErrorFor(zipCode, 'Zip code cannot be blank');
            isValid = false;
          } else if (!isValidZipCode(zipCode.value.trim())) {
            setErrorFor(zipCode, 'Zip code is not valid');
            isValid = false;
          } else {
            setSuccessFor(zipCode);
          }
      
          return isValid;
        }
      
        function setErrorFor(input, message) {
          const formControl = input.parentElement;
          const small = formControl.querySelector('small');
          if (!small) {
            const errorElement = document.createElement('small');
            errorElement.className = 'text-danger';
            errorElement.innerText = message;
            formControl.appendChild(errorElement);
          } else {
            small.innerText = message;
            small.style.display = 'block';
          }
          if (input.tagName.toLowerCase() === 'select') {
            input.className = 'form-select is-invalid';
          } else {
            input.className = 'form-control is-invalid';
          }
        }
      
        function setSuccessFor(input) {
          const formControl = input.parentElement;
          const small = formControl.querySelector('small');
          if (small) {
            small.style.display = 'none';
          }
          if (input.tagName.toLowerCase() === 'select') {
            input.className = 'form-select is-valid';
          } else {
            input.className = 'form-control is-valid';
          }
        }
      
        function isValidEmail(email) {
          return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
        }
      
        function isValidPhone(phone) {
          return /^\d{10}$/.test(phone);
        }
      
        function isValidZipCode(zipCode) {
          return /^\d{5}(-\d{4})?$/.test(zipCode);
        }
      
        function updateShippingInfo() {
          document.getElementById('shipping-name').textContent = 'Name: ' + document.getElementById('billing-name').value;
          document.getElementById('shipping-address').textContent = 'Address: ' + document.getElementById('billing-address').value;
          document.getElementById('shipping-city-country').textContent = 'City, Country: ' + 
            document.getElementById('billing-city').value + ', ' + 
            document.querySelector('select[title="Country"]').value;
          document.getElementById('shipping-zipcode').textContent = 'Zip Code: ' + document.getElementById('zip-code').value;
          document.getElementById('shipping-phone').textContent = 'Phone: ' + document.getElementById('billing-phone').value;
          document.getElementById('shipping-email').textContent = 'Email: ' + document.getElementById('billing-email-address').value;
        }
      
        const inputs = form.querySelectorAll('input, select, textarea');
        inputs.forEach(input => {
          input.addEventListener('input', updateShippingInfo);
          input.addEventListener('change', updateShippingInfo);
        });
      });
      
      function submitFormData() {
        console.log('Payment button clicked');
        
        const userFormData = {
          'name': document.getElementById('billing-name').value,
          'email': document.getElementById('billing-email-address').value,
          'total': total,
        };
      
        const shippingInfo = {
          'address': document.getElementById('billing-address').value,
          'city': document.getElementById('billing-city').value,
          'country': document.querySelector('select[title="Country"]').value,
          'zipcode': document.getElementById('zip-code').value,
        };
      
        const clientInfo = {
          'name': document.getElementById('billing-name').value,
          'email': document.getElementById('billing-email-address').value,
          'phone': document.getElementById('billing-phone').value,
        };
      
        console.log('Shipping Info:', shippingInfo);
        console.log('User Info:', userFormData);
      
        const url = "/process_order/";
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo, 'client': clientInfo }),
        })
        .then((response) => response.json())
        .then((data) => {
          console.log('Success:', data);
          // Show success popup
          $('#success-popup').modal('show');

          cart = {};
          document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";
      
          //window.location.href = "{% url 'store' %}";
        
        });
        //show chi tiết hóa đơn
        
          // Gọi hàm này khi cần hiển thị chi tiết hóa đơn
      document.getElementById('confirm-order').addEventListener('click', showInvoiceDetails);
    
      }
      function showInvoiceDetails() {
        // Lấy ngày giờ 
        var now = new Date();
        var dateTimeString = now.toLocaleString('vi-VN', { 
          year: 'numeric', 
          month: '2-digit', 
          day: '2-digit', 
          hour: '2-digit', 
          minute: '2-digit', 
          second: '2-digit' 
        });
      
        // Lấy thông tin giao hàng và định dạng lại
        var shippingInfo = document.querySelector('.card-radio').innerHTML;
        shippingInfo = shippingInfo.replace(/([^:]+):/g, '<strong>$1:</strong>');
      
        // Lấy tóm tắt đơn hàng
        var orderSummary = document.querySelector('.checkout-order-summary .table-responsive').innerHTML;
      
        // Điền thông tin vào modal chi tiết hóa đơn
        document.getElementById('invoice-shipping-info').innerHTML = shippingInfo;
        document.getElementById('invoice-order-summary').innerHTML = orderSummary;
        document.getElementById('invoice-date-time').textContent = 'Ngày đặt hàng: ' + dateTimeString;
      
        // Hiển thị modal chi tiết hóa đơn
        $('#invoice-details-modal').modal('show');
      }
     // Xuất file
     document.getElementById('exportPDF').addEventListener('click', function() {
      exportInvoice('pdf');
    });
    
    document.getElementById('exportText').addEventListener('click', function() {
      exportInvoice('text');
    });
    
    function exportInvoice(type) {
      var content = "-----------------------\n\n";
      content += "\t\t\t\t\t\t                                                 INVOICE  ID:\n\n";
      content += "Order date: " + new Date().toLocaleString('vi-VN', { hour: '2-digit', minute: '2-digit', second: '2-digit', day: '2-digit', month: '2-digit', year: 'numeric' }) + '\n\n\n';
      
      content += "Customer :\n";
      content += "Name: " + document.getElementById('billing-name').value + '\n';
      content += "Address: " + document.getElementById('billing-address').value + '\n';
      content += "City, Country: " + document.getElementById('billing-city').value + ', ' + 
                 document.querySelector('select[title="Country"]').value + '\n';
      content += "Postal Code: " + document.getElementById('zip-code').value + '\n';
      content += "Phone: " + document.getElementById('billing-phone').value + '\n';
      content += "Email: " + document.getElementById('billing-email-address').value + '\n\n\n';
  
      content += "Order Details:\n";
      content += "-------------------------------------------------------------------------------------------------------------------------------------------------\n";
      content += "Product                           \t   |    Quantity    |            Unit Price          |            Total        \n";
      content += "-------------------------------------------------------------------------------------------------------------------------------------------------\n";
  
      var orderSummary = document.getElementById('invoice-order-summary').querySelectorAll('tr');
      orderSummary.forEach(function(row, index) {
          if (index < orderSummary.length - 3) {
            var columns = row.querySelectorAll('td, th');
            var productInfo = columns[1].innerText;
            content += productInfo.padEnd(50) + "~~|\t" + 
           "-".padEnd(20) + "\t|" + 
           "1".padEnd(15) + "B|" + 
           columns[2].innerText.padEnd(30) + "|C" + 
           columns[2].innerText.padEnd(25) + "\n";

            
              content += "---------------------------------------------------------------------------------------------------------------------------------\n";
          }
      });
  
      content += "Total:                              |" + " ".repeat(45) + orderSummary[orderSummary.length - 3].querySelectorAll('td')[1].innerText.padStart(20) + "\n";
      content += "---------------------------------------------------------------------------------------------------------------------------------\n";
      content += "                                            |\n";
      content += "Estimated Tax:                      |" + " ".repeat(45) + orderSummary[orderSummary.length - 2].querySelectorAll('td')[1].innerText.padStart(20) + "\n";
      content += "------------------------------------------------------------------------  ---------------------------------------------------------\n";
      content += "Total Payment:                      |" + " ".repeat(45) + orderSummary[orderSummary.length - 1].querySelectorAll('td')[1].innerText.padStart(20) + "\n\n\n\n";
  
      content += "----------------------\n";
      content += "@shopabc\n";
  
      if (type === 'pdf') {
          var doc = new jsPDF();
          doc.addFont("{% static 'fonts/Montserrat-Black.ttf' %}", 'Montserrat', 'normal');
          doc.setFont('Montserrat Black');
          doc.setFontSize(10);
          var lines = doc.splitTextToSize(content, 180);
          doc.text(lines, 10, 10);
          doc.save('invoice.pdf');
      } else {
          var blob = new Blob(["\ufeff" + content], {type: "text/plain;charset=utf-8"});
          saveAs(blob, "invoice.txt");
      }
  }
  
    
  
    
    
    
    
</script>

<script>
  // Initialize Bootstrap modals
  $(document).ready(function() {
    $('[data-bs-toggle="modal"]').on('click', function() {
      var target = $(this).data('bs-target');
      $(target).modal('show');
    });
  
    $('#invoice-details-modal').modal({
      show: false
    });
  });
  
      //fix lỗi chi tiết hóa đơn click 2 lần 

  $(document).on('click', '#confirm-order', function() {
    showInvoiceDetails();
  });
  

</script>
<!-- pop up thông báo khi Procced -->
<div id="confirmation-popup" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận đơn hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Đơn hàng đã xác nhận thành công</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
        <button type="button" class="btn btn-primary" id="confirm-order">Chi tiết hóa đơn</button>
      </div>
    </div>
  </div>
</div>
<!-- xem lịch sử procced-->
<div id="invoice-details-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chi tiết hóa đơn</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Hóa đơn mua hàng</h4>
        <hr>
        <div id="invoice-date-time" class="mb-3"></div>
        <h6>Thông tin khách hàng:</h6>
        <div id="invoice-shipping-info"></div>
        <hr>
        <h6>Chi tiết đơn hàng:</h6>
        <div id="invoice-order-summary"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="exportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Xuất hóa đơn
          </button>
          <ul class="dropdown-menu" aria-labelledby="exportDropdown">
            <li><a class="dropdown-item" href="#" id="exportPDF">Xuất PDF</a></li>
            <li><a class="dropdown-item" href="#" id="exportText">Xuất Text</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const creditCardFields = document.getElementById('credit-card-fields');
    const creditCardOption = document.getElementById('pay-methodoption1');
    const cashDeliveryOption = document.getElementById('pay-methodoption3');
    const proceedButton = document.getElementById('proceed-button');
  
    function toggleCreditCardFields() {
      if (creditCardOption.checked) {
        creditCardFields.style.display = 'block';
      } else {
        creditCardFields.style.display = 'none';
      }
    }
  
    creditCardOption.addEventListener('change', toggleCreditCardFields);
    cashDeliveryOption.addEventListener('change', toggleCreditCardFields);
  
    // Initial check
    toggleCreditCardFields();
  
    function validateCreditCardFields() {
      let isValid = true;
  
      // Check Card Number
      const cardNumber = document.getElementById('cc-number');
      if (cardNumber.value.trim() === '') {
        setErrorFor(cardNumber, 'Card number cannot be blank');
        isValid = false;
      } else if (!isValidCardNumber(cardNumber.value.trim())) {
        setErrorFor(cardNumber, 'Invalid card number');
        isValid = false;
      } else {
        setSuccessFor(cardNumber);
      }
  
      // Check Expiration
      const expiration = document.getElementById('cc-expiration');
      if (expiration.value.trim() === '') {
        setErrorFor(expiration, 'Expiration date cannot be blank');
        isValid = false;
      } else if (!isValidExpiration(expiration.value.trim())) {
        setErrorFor(expiration, 'Invalid expiration date');
        isValid = false;
      } else {
        setSuccessFor(expiration);
      }
  
      // Check CVV
      const cvv = document.getElementById('cc-cvv');
      if (cvv.value.trim() === '') {
        setErrorFor(cvv, 'CVV cannot be blank');
        isValid = false;
      } else if (!isValidCVV(cvv.value.trim())) {
        setErrorFor(cvv, 'Invalid CVV');
        isValid = false;
      } else {
        setSuccessFor(cvv);
      }
  
      // Check Name on Card
      const nameOnCard = document.getElementById('cc-name');
      if (nameOnCard.value.trim() === '') {
        setErrorFor(nameOnCard, 'Name on card cannot be blank');
        isValid = false;
      } else {
        setSuccessFor(nameOnCard);
      }
  
      return isValid;
    }
  
    function setErrorFor(input, message) {
      const formControl = input.parentElement;
      const small = formControl.querySelector('small') || document.createElement('small');
      small.innerText = message;
      small.className = 'text-danger';
      formControl.appendChild(small);
      input.className = 'form-control is-invalid';
    }
  
    function setSuccessFor(input) {
      const formControl = input.parentElement;
      const small = formControl.querySelector('small');
      if (small) {
        small.remove();
      }
      input.className = 'form-control is-valid';
    }
  
    function isValidCardNumber(number) {
      return /^[0-9]{13,19}$/.test(number);
    }
  
    function isValidExpiration(exp) {
      return /^(0[1-9]|1[0-2])\/([0-9]{2})$/.test(exp);
    }
  
    function isValidCVV(cvv) {
      return /^[0-9]{3,4}$/.test(cvv);
    }
  
    proceedButton.addEventListener('click', function(event) {
      event.preventDefault();
      if (creditCardOption.checked) {
        if (validateCreditCardFields()) {
          console.log('Credit card information is valid, proceeding with payment');
          // Add your payment processing logic here
        }
      } else {
        console.log('Proceeding with cash on delivery');
        // Add your cash on delivery logic here
      }
    });
  });
  </script>




{% endblock content %}  